<div class="row">
    <div class="col-xs-12">
        <h1>How to use JSON Editor</h1>

        <p style="text-align: justify;">JSON Editor is a web-based tool to view, edit, and format JSON.</p>

        <hr class="style">
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">How to open new JSON file</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <p style="text-align: justify;">
                    To open a JSON file, you can drop file, choose by click left textbox or you can paste content of JSON file to right textbox. It support JSON and TXT file.
                    <br /> If it is not right format json file, an mess will be show error.
                </p>
            </div>
            <div class="col-lg-8">
                <div class="video">
                    <div class="video-container">
                        <!--<object data='https://www.youtube.com/v/zMJhyBky5zY' type='application/x-shockwave-flash'>
                            <param name='movie' value='https://www.youtube.com/v/zMJhyBky5zY'>
                            <param name='allowFullScreen' value='true'>
                        </object>-->
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/0u-OGFvA6Lo" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">How to create JSON file</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <p>
                    To create a JSON file, you can: <br />
                    <em>1. Fill in right your json file</em><br />
                    <em>2. Use UI to create</em> <br />
                    You must enter key, if it empty an alert will be show.<br />
                    If key have already exits, an confirm dialog will be show to ask you want replace old key?<br />
                    A key have 5 formats: text, number, boolean, object, array.
                </p>
            </div>
            <div class="col-lg-8">
                <div class="video">
                    <div class="video-container">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/9sXDdR84ios" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">How to edit JSON file</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <p>
                    To edit a JSON file, you can: <br />
                    <em>1. Edit in the top-right text box</em><br />
                    <em>2. Use UI to edit</em> <br />
                    When you delete a key, an alert will be show to confirm delete .<br />
                    
                </p>
            </div>
            <div class="col-lg-8">
                <div class="video">
                    <div class="video-container">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/2l3CqEX0f7E" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">How to save JSON file</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <p>
                    To save JSON file, click Save button, you can choose format of file will save: *.txt, *.json.<br />
                    File name must is a file name valid, if it not valid, an mess will be show to alert this.
                </p>
            </div>
            <div class="col-lg-8">
                <div class="video">
                    <div class="video-container">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/OndzECq1djE" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div style="margin-bottom:100px;"></div>